/* esse arquivo "styles.css" altera o estilo/aparencia da nossa página */

html {
    background-color:black;
    display: flex;
    font-family: 'Staatliches', cursive;
}

.barra-pesquisa {
    text-align:center;
}
 
.logo img {
    width: 70px;
    height: 70px;
}

.wrapper {
	/* Activate grid layout */
	display: grid;

	/* Create 5 columns, each 1 "fractional unit" wide */
	grid-template-columns: repeat(5, 1fr);

	/* Create 5 rows, each 1 "fractional unit" high */
	grid-template-rows: repeat(5, 1fr);

	/* Add a 10px gap between columns and rows */
	grid-gap: 10px;
  }

ul {
    color: white;
    list-style-type: none; /* o tipo de estilo da lista é NADA */
    font-size: 36px;
    margin-right: 20px;
    text-align: center;

}

li {
    display: inline; /* de que forma queremos exibir a nossa barra de navegação? EM LINHA */
}

img {
    height: 285px;
    width: 325px;
    display: inline-block;
    margin: 25px 10px;
}

.nome-campeao {
    color: cornsilk;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.descricao {
    font-family: Beaufort for LOL,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 140%;
    font-size: 18px;
    letter-spacing: -.004em;
    line-height: 1.58;
    position: relative;
    text-align: left;
    margin: 0;
    color: #f0e6d2;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
}

.item {
    padding: 10px 0;
    position: relative;
}